/* General style used by most data sheets */

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

/* #data is applied to the single central data table */
#data td {
	text-align: center;
	font-size: 10px;
	font-family : verdana, arial, helvetica, sans-serif; 
}

/* #data is applied to the single central data table */
#data th {
	text-align: center;
	font-size: 10px;
	padding: 2px 1px;
	font-family : verdana, arial, helvetica, sans-serif; 
}

/* remove cellspacing */
#data {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

/* center everything */
#contentcol {
	text-align: center;
}

td {
	font-size: 10px;
	padding: 2px 1px;
	font-family: verdana, arial, helvetica, sans-serif;
}

.oc {
	background: #ccc;
	color: #000;
}

.or { 
	background: #f99;
}

.note { /* Used below the menu to highlight something interesting or make a point */
font-size : 11px; 
margin: 20px 1px 1px;
color: #000;
background: #f99;
padding: 4px;
font-family : verdana, arial, helvetica, sans-serif;
}

.datalinks { /* List of links on data index page */
text-align: center;
}

/* Used on interleague */
.th {
background-color: #f00;
color: #fff;
font-weight: bold;
font-size: 12px;
}

/* Styles for interleague, coach/capt and opposition & match pages */
.or .year {
background-color: #f99; /* overwrites year default */
}

.year {
color: #333;
font-weight: bold;
background-color: #ccc; /* sets year bg to stand out */
}

/* Styles for afl/vfl players pages */
.club {
	font-weight: bold;
}

dt {
	background-color: #f00;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	padding: 3px;
}

/* Styles for grand final teams page */

.team { /* Team list */
margin: 0px 0px 10px 50px;
font-size: 10px;
font-weight: normal;
}
.score {}