p {
margin-top: 2px;
margin-bottom : 12px;
line-height : 18px;
font-family: serif;
}

li {
font-family: serif;
}

H1 {
font-size : 25pt;
font-weight: bold;
font-style: italic;
margin-top: 1px;
margin-bottom: 0px;
color: #f99;
text-align: left;
font-family : arial, helvetica, sans-serif; 
}

H2 {
font-size : 14pt; 
font-weight: bold; 
margin-top: 0;
margin-bottom: 4px;
color: #999999;
text-align: left;
font-family : arial, helvetica, sans-serif; 
}

H3 {
font-size : 12pt; 
margin-top: 1px;
margin-bottom : 5px;
color: #999999;
text-align: left;
font-family : arial, helvetica, sans-serif; 
}

H4 {
margin-top: 10pt;
margin-left: 20px;
margin-bottom : 6px;
text-align: left;
font-family : arial, helvetica, sans-serif; 
}

/* ######## LINKS ######## */

A:link, A:visited, A:hover { 
color : #C00; 
text-decoration : none;
font-weight: bold;
}

A:hover { 
color : #FF9900; 
}

/* ######## MENU ######## */
.menu { 
display: none;
}

.submenu { 
display: none;
}

/* #### FOOTER #### */
.sponsor { /* Sponsor footer text */
font-size: 10pt;
margin: 10px 10px 0;
text-align: center;
font-family: serif;
}

/* Footer text */
.footer {
font-size: 10pt;
margin: 10px 10px 0;
text-align: center;
font-family: serif;
}

/* ######## SECTION MENU ######## */
.section {
display: none;
}

/* ######## IMAGE COLUMN ######## */
#imagecol {
border: none;
}

.colcaption { /* caption for photo column */
font-size : 10pt; 
text-align: right;
margin: 0;
color: #333;
padding: 4px;
}

/* ######## OTHER ######## */
.formbox {
display: none;
}

.webstds {
display: none;
}

td {
font-family: serif;
}
