/* ######## BODY ######## */
#masthead {
	background: #f00;
}

#masthead td {
	padding: 0;
}

#contentcol { /* Main column */
margin: 10px 20px;
border-bottom: 1px #f99 solid;
vertical-align: top;
}

body {
font-family : verdana, arial, helvetica, sans-serif; 
margin: 0;
padding: 0;
}

p {
text-align : justify;
font-size : 12px; 
margin-top: 7px;
margin-bottom : 7px;
line-height : 18px;
font-family : verdana, arial, helvetica, sans-serif; 
}

h1 {
text-align: left;
margin: 0;
font-size: 26px;
color: #fff;
font-style: italic;
}

h2 {
font-size : 40px;
font-weight: bold;
font-style: italic;
margin-top: 1px;
margin-bottom: 0;
color: #f99;
text-align: left;
font-family : arial, helvetica, sans-serif; 
}

h3 {
font-size : 16px; 
font-weight: bold; 
margin-top: 0;
margin-bottom: 4px;
color: #999999;
text-align: left;
font-family : arial, helvetica, sans-serif; 
}

h3 strong {
	color: #666;
}

h4 {
font-size : 18px; 
margin-top: 15px;
margin-bottom : 5px;
color: #999999;
text-align: left;
font-family : arial, helvetica, sans-serif; 
}

h5 {
margin-top: 16px;
margin-left: 20px;
margin-bottom : 6px;
text-align: left;
font-family : arial, helvetica, sans-serif; 
}

li {
font-size : 12px; 
line-height : 18px;
font-family : verdana, arial, helvetica, sans-serif; 
}

/* ######## LINKS ######## */

a:link { 
color: #C00; 
text-decoration: none;
font-weight: bold;
}

a:visited { 
color: #C00; 
text-decoration: underline;
font-weight: bold;
}

a:hover { 
color: #f90;
text-decoration: none;
font-weight: bold;
}

/* ######## MENU ######## */
#menucol {
border-bottom: 1px #f99 solid; 
margin: 0; 
padding: 0;
width: 170px;
}

.menu, .menuselected { 
font-size : 12px;
font-weight: bold;
padding-top: 5px;
font-family: verdana, arial, helvetica, sans-serif; 
}

.submenu { /* for breakups of data, ie, goto next 10 years */
font-size: 12px;
font-family: verdana, arial, helvetica, sans-serif;
}

.submenu li {
padding-bottom: 5px;
}

.submenu .item {
font-size : 12px; 
font-weight: bold; 
margin-left: 20px;
font-family: verdana, arial, helvetica, sans-serif; 
}

/* ######## SECTION MENU ######## */
.section {
text-align: right;
font-weight: bold;
font-size: 12px; 
margin: 5px 4px;
color: #f90;
font-family : verdana, arial, helvetica, sans-serif; 
}

.section a:link { 
color: #fff; 
text-decoration: none;
font-weight: bold;
}

.section a:visited {
color: #fff; 
text-decoration: underline;
font-weight: bold;
}

.section a:hover { 
color : #f90; 
text-decoration : none;
}

/* ######## DATA ######## */
#data th {
	color: #fff;
	background: #f00;
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif; 
}

#data td {
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif; 
}

.th td { 
	color: #fff;
	background: #f00;
	font-size: 11px;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif; 
}

/* Playerscore sheets */
td.th { 
	color: #fff;
	background: #f00;
	font-size: 11px;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif; 
}

td {
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif; 
}

/* #### FOOTER #### */
.sponsor { /* Sponsor footer text */
font-size: 10px;
margin: 10px 10px 0;
text-align: center;
font-family : verdana, arial, helvetica, sans-serif; 
}

/* Footer text */
.footer {
font-size: 10px;
margin: 10px 10px 0;
text-align: center;
font-family : verdana, arial, helvetica, sans-serif; 
}

/* ######## IMAGE COLUMN ######## */
#imagecol {
border-left: #f99 1px solid; 
border-bottom: 1px #f99 solid;
padding: 0;
margin: 0;
}

.colcaption { /* caption for photo column */
font-size : 10px; 
text-align: right;
margin: 0;
color: #333;
padding: 4px;
font-family : verdana, arial, helvetica, sans-serif;
}

/* ######## RETRO ######## */
.webstds { /* Accessability footer. Hidden(overridden) by complex.css */
font-size: 10px;
margin: 5px;
text-align: left;
font-family : verdana, arial, helvetica, sans-serif; 
}

/* ######## IMAGES ######## */
.caption { /* caption for photo column */
font-size : 10px; 
font-family: verdana, arial, helvetica, sans-serif;
}

/* ######## FORMS ######## */
.formbox { /* Enter your email address for updates form */
margin: 66px 4px 0 4px;
background: #fcc;
padding: 8px;
border: 1px dashed #f99;
width: 200px;
}

.formbox p {
font-size: 10px;
line-height: 16px;
}

.input {
font-size: 10px;
}

/* ######## OTHER ######## */

.blurb { /* Top of text page blurb */
text-align: right;
font-style: italic;
color: #666;
margin-left: 10%;
font-size: 14px;
}

.heavy { /* Highlight for important words in data page or data index page subheading - phased out to be replaced by <strong> */
color: #666;
}

.author { /* Us a header/footer above text */
font-size : 12px;
font-style :  italic;
margin-top : 0px;
text-align: right;
}

.reference { /* See somewhere for more link */
	font-size : 11px;
	font-style :  italic;
	margin-top : 0px;
	text-align: right;
}

.highlights { /* Front page: Mick's Stats of the month */
background: #f99;
padding: 10px;
}

.highlights ul, .quicknotes ul {
margin: 5px 0 0 20px;
}

.highlights h3 {
color: #fff;
margin-top: 0;
margin-bottom: 0;
}

.highlights a:hover {
color: #fff;
}

.highlights .blurb {
text-align: left;
font-size: 12px;
margin: 0 0 5px 5px;
color: #000;
font-style: italic;
}

.quicknotes {
padding: 10px;
}

.quicknotes h3 {
margin-top: 0;
margin-bottom: 0;
}